html,body { 
margin:0;
padding:0;
background:#fff;
}

@font-face { 
font-family:Optima;
src: url(http://mauric.ru/fonts/optima.ttf);
}

div#header {
position:absolute;
top:0;
left:0;
display:block;
float:left;
width:100%;
height:50%; 
background:url(../../img/mauric/bg_snail.jpg) no-repeat center;
}

.header-caption {
font-family:Optima,Verdana;
font-size:18px;
font-weight:normal;
color:#872929;
}

div#nav {
position:absolute;
top:30px;
left:0;
display:block;
float:left;
width:100%;
height:auto;
}

div#logo {
display:block;
float:left;
width:200px;
height:100px;
padding:0;
margin:0;
background:url(../../img/mauric/mauric_logo.png) no-repeat left top;  
}

div.col {
display:block;
float:left;
clear:both;
margin:0 0 0 0;
padding:0 0 30px 0;
}

a.link-caption:hover {
color:#ff0000;
}

a.link-caption {
font-family:Optima,Verdana;
font-size:14px;
font-weight:normal;
color:#872929;
display:block;
float:left;
clear:both;
padding:0 0 2px 0;
margin:0;
text-decoration:none;
outline:none;
border:none;
}

a.link-line:hover {
color:#ff0000;
}

a.link-line {
font-family:Optima,Verdana;
font-size:12px;
color:#333;
display:block;
float:left;
clear:both;
padding:3px 0 2px 0;
margin:0;
text-decoration:none;
outline:none;
border:none;
}

div#footer {
display:block;
float:left;
width:1000px;
height:auto;  
padding:20px 0 0 0;
margin:0;
}

div#share {
font-family:Verdana;
font-size:12px;
color:#666;
display:block;
float:left;
width:250px;
height:auto;
margin:0 0 0 440px;
}

div#copyright {
font-family:Verdana;
font-size:10px;
color:#666;
display:block;
float:right;
padding:0;
margin:5px 20px 0 0;
}

div#copyright a{
font-family:Verdana;
font-size:10px;
color:#872929;
text-decoration:none;
outline:none;
border:none;
}



